{% extends 'layout.njk' %}

{% block content %}

  <form class="card" method="POST" action="/animals?_method=PUT">
    <section 
      class="avatar" 
      style="background: url('https://source.unsplash.com/collection/9718726/500x500') no-repeat center center / cover">
    </section>

    <section class="details">
      <h3>Edit Dog</h3>
      {% include 'animals/fields.njk' %}
      
      <input type="hidden" name="id" value="{{ animal.id }}">
    </section>
  </form>

{% endblock content %}