<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" id="avatar_url">
  </div>
</div>

<div class="item">
  <div>Name</div>
  <div>
    <input type="text" name="name" id="name">
  </div>
</div>

<div class="item">
  <div>Date of birth</div>
  <div>
    <input type="date" name="birth" id="birth">
  </div>
</div>

<div class="item">
  <div>Gender</div>
  <span>
    <input type="radio" name="gender" value="M" checked> Male
  </span>
  <span>
    <input type="radio" name="gender" value="F"> Female
  </span>
</div>

<div class="item">
  <div>Specialties</div>
  <div>
    <input type="text" name="specialties" id="specialties">
  </div>
</div>

<button type="submit">Save</button>