{% extends 'layout.njk' %}

{% block content %}

  <div class="card">
    <section 
      class="avatar" 
      style="background: url('https://source.unsplash.com/collection/9718726/500x500') no-repeat center center / cover">
    </section>

    <section class="details">
      <h3>Details</h3>

      <div class="item">
        <div>Name</div>
        <div>Thor</div>
      </div>

      <div class="item">
        <div>Age</div>
        <div>1 year</div>
      </div>

      <div class="item">
        <div>Sex</div>
        <div>Male</div>
      </div>

      <div class="item">
        <div>Specialties</div>
        <div>
          <span>Companion</span>
          <span>Sleeper</span>
        </div>
      </div>

      <div class="item">
        <div>Register</div>
        <div>01/01/2020</div>
      </div>
    </section>
  </div>

{% endblock content %}