{% extends 'layout.njk' %}

{% block content %}

  <div class="card">
    <section 
      class="avatar" 
      style="background: url({{ animal.avatar_url }}) no-repeat center center / cover">
    </section>

    <section class="details">
      <h3>Details</h3>

      <div class="item">
        <div>Name</div>
        <div>{{ animal.name }}</div>
      </div>

      <div class="item">
        <div>Age</div>
        <div>{{ animal.age }}</div>
      </div>

      <div class="item">
        <div>Gender</div>
        <div>{{ 'Male' if animal.gender == 'M' else 'Female' }}</div>
      </div>

      <div class="item">
        <div>Specialties</div>
        <div>
          {% for specialtie in animal.specialties %}
            <span>{{ specialtie }}}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Register</div>
        <div>{{ animal.created_at }}</div>
      </div>

      <a href="#" class="button">Edit</a>
    </section>
  </div>

{% endblock content %}