@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #058ED9;
  --secondary-color: #7DBDD9;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

header {
  background-color: #FFFFFF;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

.links a + a { /* Não pega o primeiro "a" */
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: var(--secondary-color);
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.links a:hover {
  color: var(--primary-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}

/* #### CARD #### */
.card {
  background-color: #fff;
  width: 800px;
  height: 400px;
  margin: 45px auto; /* espaçamento ao centro (precisa do width) */

  display: grid;
  grid-template-columns: 1fr 1fr; /* grid dividido ao meio */

  box-shadow: 20px 20px 10px rgb(0, 0, 0, 0.4);

  animation: up 300ms ease;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
  }
}

.card .avatar {

}

.card .details {

}